<launch>
<include file="$(find dt_launch)/launch/simulation/unitySim/network_ros2unity.launch"/>

<include file="$(find dt_launch)/launch/simulation/unitySim/no_network/unity_no_networksimUAV1.launch"/>

<include file="$(find dt_launch)/launch/simulation/unitySim/no_network/unity_no_networksimUAV2.launch"/>

<include file="$(find dt_launch)/launch/simulation/unitySim/no_network/unity_no_networksimUAV3.launch"/>

<include file="$(find dt_launch)/launch/simulation/unitySim/no_network/unity_no_networksimUAV4.launch"/>

<include file="$(find dt_launch)/launch/simulation/unitySim/no_network/unity_no_networksimUAV5.launch"/>

<include file="$(find dt_launch)/launch/simulation/unitySim/no_network/unity_no_networksimUAV6.launch"/>

<include file="$(find dt_launch)/launch/simulation/unitySim/no_network/unity_no_networksimTargetObj.launch"/>
<node name="dt_simulation_wrapper_node" pkg="dt_simulation_wrapper" type="dt_simulation_wrapper_node" output="screen">
      <param name="UAV1LocalPositionMessageSubTopic" value="/UAV1/mavros/local_position/pose"/>
      <param name="UAV1LocalVelocityMessageSubTopic" value="/UAV1/mavros/local_position/velocity"/>
      <param name="UAV2LocalPositionMessageSubTopic" value="/UAV2/mavros/local_position/pose"/>
      <param name="UAV2LocalVelocityMessageSubTopic" value="/UAV2/mavros/local_position/velocity"/>
      <param name="UAV3LocalPositionMessageSubTopic" value="/UAV3/mavros/local_position/pose"/>
      <param name="UAV3LocalVelocityMessageSubTopic" value="/UAV3/mavros/local_position/velocity"/>
      <param name="UAV4LocalPositionMessageSubTopic" value="/UAV4/mavros/local_position/pose"/>
      <param name="UAV4LocalVelocityMessageSubTopic" value="/UAV4/mavros/local_position/velocity"/>
      <param name="UAV5LocalPositionMessageSubTopic" value="/UAV5/mavros/local_position/pose"/>
      <param name="UAV5LocalVelocityMessageSubTopic" value="/UAV5/mavros/local_position/velocity"/>
      <param name="UAV6LocalPositionMessageSubTopic" value="/UAV6/mavros/local_position/pose"/>
      <param name="UAV6LocalVelocityMessageSubTopic" value="/UAV6/mavros/local_position/velocity"/>
      <param name="TargetLocalPositionMsgSubTopic" value="/Car1/mavros/local_position/pose"/>
      <param name="TargetLocalVelocityMsgSubTopic" value="/Car1/mavros/local_position/velocity"/>

      <param name="IsPubTarget" value="false"/>

      <param name="UAVsPosVelMessagePubTopic" value="/other_uavs/state"/>
      <param name="MessagePubFrequency" value="30"/>
</node>
</launch>
